:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: var(--secondary);
  color: var(--text);
  font-weight: normal;
  font-size: 16px;
}
:host ::ng-deep .p-datatable>.p-datatable-wrapper {
  border-radius: 16px;
}

.action-group{
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 2px;
}


