.file-input {
  display: none;
}

.file-upload{
  padding: 1rem;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--text);
  overflow: hidden;
  max-width: 400px;
}

.text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .p-button{
  color: #ffffff;
  background: var(--primary);
  border: 1px solid var(--primary);
}

