.dark-blue{
  background-color: #011526;
  min-height: 875px;
  padding-top: 50px;
}

.recipe-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  background-color: bisque;
  border-radius: 30px;
}

.title{
  display: flex;
  justify-content: center;
}

/*

 */
.page {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  grid-template-areas:
    "recipe-details ingredients"
    "file-upload submit";
  grid-template-columns: 1fr 1fr;;
}

.box {
  background-color: #FFD1A1;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.box-title {
  color: #885a2d;
  font-weight: normal;
  font-size: 16px;
}

.ingredients {
  grid-area: ingredients;
}

.recipe-details {
  grid-area: recipe-details;
}

.total {
  grid-area: total;
}

.ingridient-creator{
  display: flex;
  column-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  border-bottom: 2px solid #DDB892;
  display: grid;

  padding: 10px 0;

  grid-template-columns: 2fr 8fr 1fr;
  grid-template-areas:
    "quantity title   delete";

  row-gap: 8px;

}

.item:last-child {
  border-bottom: none;
}

.item-quantity {
  grid-area: quantity;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.item-title {
  grid-area: title;
  font-weight: bold;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.item-delete {
  grid-area: delete;
  font-weight: bold;
}

.item-options-list {
  grid-area: options;
  color: #B08968;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.item-option {
  margin-bottom: 5px;
}

.input-group {
  margin-bottom: 20px;
}

.user-input-input {
  color: #885a2d;
  background-color: rgba(0,0,0,0);
  border: 2px #885a2d solid;
  padding: 8px;
  border-radius: 100px;
  width: 100%;
  text-indent: 18px;
  font-size: 18px;
}

.user-input-textarea{
  color: #885a2d;
  background-color: rgba(0,0,0,0);
  border: 2px #885a2d solid;
  padding: 8px;
  width: 100%;
  font-size: 18px;
  resize: none;
}

.short-input {
  max-width: 200px;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.submit-btn {
  background-color: #FFD1A1;
  border: none;
  padding: 10px 30px;
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
}
