<div class="page-content">
  <div class="page-container">
    <div class="page">
      <div class="recipe-overview">
        <div class="recipe-name">
          <h2> {{ recipe.name }} </h2>
        </div>
        <div class="user-interaction-bar">
          <div class="rating">
            <i class="pi pi-star-fill"></i> {{ recipe.rating }}
            <p-rating [(ngModel)]="userFeedback!.rating !== null ? userFeedback!.rating : 0" [cancel]="false"
                      (onRate)="submitFeedback()"></p-rating>
          </div>
          <div class="favorite">
            <button pButton pRipple type="button" icon="pi pi-heart"
                    style="outline-color: crimson; border-color: crimson; color: white; background: crimson; "
                    [style.color]="isFavorite ? 'white' : 'crimson'"
                    [style.background]="isFavorite ? 'crimson' : 'white'"
                    (click)="toggleFavorite()"
                    class="p-button-rounded p-button-help p-button-outlined"></button>
          </div>
        </div>
      </div>
      <div class="image-container">
        <img src="{{ recipe.image }}" alt="recipe" style="width: 500px; border-radius: 16px">
      </div>
      <div class="ingredients">
        <h2 class="ingredients-title">Zutaten</h2>
        <ul class="ingredients-list">
          @for (ingredient of ingredients; track ingredient.id) {
            <li><input type="checkbox">{{ ingredient.quantity + " " + ingredient.measure + " " + ingredient.name }}</li>
          }
        </ul>
      </div>
      <div class="preparation">
        <h2 class="preparation-title">Zubereitung</h2>
        <div class="preparation-text">{{ recipe.preparation }}</div>
      </div>
      <div class="feedback-section">
        <h2 class="feedback-title">Kommentare</h2>
        <div class="feedback-form">
          <textarea [(ngModel)]="newComment.text" pInputTextarea placeholder="Schreibe einen Kommentar"></textarea>
          <button class="submit-btn" type="button" (click)="submitComment()">Kommentar absenden</button>
        </div>
        <div class="comments">
          <div *ngFor="let comment of commentsWithUsername" class="comment">
            <div class="comment-author">Author: {{ comment.username }}</div>
            <div class="comment-text">Comment: {{ comment.text }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
