<div class="page-content">
  <div class="page-container">
    <div class="user-card">
      <div class="user-card-left">
        <div class="user-image">
          <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="User Profile Image">
        </div>
        <div>Hallo,</div>
        <h2>{{ user.username }}</h2>
      </div>
      <div class="user-card-right">
        <h3>Information</h3>
        <div class="user-info">
          <div class="info-group">
            <p class="bold">Benutzername</p>
              <p>{{ user.username }}</p>
          </div>
          <div class="info-group">
            <p class="bold">Passwort</p>
              <p>*************</p>
          </div>
        </div>
        <div class="user-info">
          <div class="info-group">
            <p class="bold">E-Mail</p>
            <p>{{ userSession.email }}</p>
          </div>
          <div class="info-group">
            <p class="bold">Erstellte Rezepte</p>
            <p>{{ countOfUserRecipes }}</p>
          </div>
        </div>
        <div class="user-level">
          <h3>Level</h3>
          <div class="progress-section">
            <div class="level">{{ user.level }}</div>
            <div class="progress-bar">
              <p-progressBar [value]="user.xp" [showValue]="true"></p-progressBar>
            </div>
            <div class="level">{{ (user.level ?? 0) + 1}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
