<div class="page-content">
  <div class="page-container">
    <div class="user-card">
      <div class="user-card-left">
        <div class="user-image">
          <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="User Profile Image">
        </div>
        <div>Hallo,</div>
        <h2>{{ user.username }}</h2>
      </div>
      <div class="user-card-right">
        <h3>Information</h3>
        <div class="user-info">
          <div class="info-group">
            <p class="bold">Benutzername <i class="pi {{editUser ? 'pi-times' : 'pi-pencil'}}" (click)="toggleEditUsername()"></i></p>
            @if (editUser){
              <div class="p-inputgroup">
                <input type="text" class="p-inputtext-sm" pInputText [autofocus]="true" placeholder="Neuer Name..." />
                <button type="button" pButton icon="pi pi-check"></button>
              </div>
            }@else {
              <p>{{ user.username }}</p>
            }
          </div>
          <div class="info-group">
            <p class="bold">Passwort <i class="pi {{editPassword ? 'pi-times' : 'pi-pencil'}}" (click)="toggleEditPassword()"></i></p>
            @if (editPassword){
              <div class="p-inputgroup">
                <input type="text" class="p-inputtext-sm" pInputText [autofocus]="true" placeholder="Neues Passwort..." />
                <button type="button" pButton icon="pi pi-check"></button>
              </div>
            } @else {
              <p>*************</p>
            }
          </div>
        </div>
        <div class="user-info">
          <div class="info-group">
            <p class="bold">E-Mail <i class="pi {{editEmail ? 'pi-times' : 'pi-pencil'}}" (click)="toggleEditEmail()"></i></p>
            @if (editEmail){
              <div class="p-inputgroup">
                <input type="text" class="p-inputtext-sm" pInputText [autofocus]="true" placeholder="Neue E-Mail..." />
                <button type="button" pButton icon="pi pi-check"></button>
              </div>
            }@else {
              <p>{{ userSession.email }}</p>
            }
          </div>
        </div>
        <div class="user-info">
          <div class="info-group">
            <p class="bold">Erstellte Rezepte</p>
            <p>{{ user.myRecipes?.length }}</p>
          </div>
          <div class="info-group">
            <p class="bold">Rezepte Favorisiert</p>
            <p>{{  user.favRecipes?.length }}</p>
          </div>
        </div>
        <div class="user-level">
          <h3>Level</h3>
          <div class="progress-section">
            <div class="level">{{ user.level }}</div>
            <div class="progress-bar">
              <p-progressBar [value]="user.xp" [showValue]="true"></p-progressBar>
            </div>
            <div class="level">{{ (user.level ?? 0) + 1}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
