<div class="page-content">
  <div class="page-container">
    <div class="user-card">
      <div class="user-card-left">
        <div class="user-image">
          <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="User Profile Image">
        </div>
        <h2>{{ user.username }}</h2>
        <div class="edit-icon">
          <i class="pi pi-pencil"></i>
        </div>
      </div>
      <div class="user-card-right">
        <h3>Information</h3>
        <div class="user-info">
          <div class="info-group">
            <p>Email</p>
            <p>G-Ez&#64;gmail.com</p>
          </div>
          <div class="info-group">
            <p>Password</p>
            <p>*************</p>
          </div>
        </div>
        <div class="user-level">
          <h3>Level</h3>
          <div class="progress-section">
            <div class="level">{{ user.level }}</div>
            <div class="progress-bar">
              <p-progressBar [value]="user.xp" [showValue]="true"></p-progressBar>
            </div>
            <div class="level">{{ user.level + 1}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
