/*Provisorisch*/
.white-background {
  background-color: white;
  min-height: 875px;
  padding-top: 50px;
}

.page {
  display: grid;
  row-gap: 30px;
  column-gap: 100px;
  grid-template-areas:
    "overview image"
    "ingredients manuel"
    "feedback-section feedback-section";
    "comments comments"
}

.user-interaction-bar {
  display: flex;
  justify-content: space-between;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  border-bottom: 2px solid #DDB892;
  display: grid;
  padding: 10px 0;
  grid-template-columns: 2fr 8fr 1fr;
  grid-template-areas:
    "quantity title";
  row-gap: 8px;
}

.item:last-child {
  border-bottom: none;
}

.item-quantity {
  grid-area: quantity;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.item-title {
  grid-area: title;
  font-weight: bold;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.comment-author {
  grid-area: comment-author;
  font-weight: bold;
}

.comment-rating {
  grid-area: comment-rating;
  display: flex;
  align-items: center;
}

.comment-text {
  grid-area: comment-text;
  display: flex;
  align-items: center;
}

.comments {
  grid-area: comments;
  display: grid;
  row-gap: 10px;
  /*grid-template-areas:*/
  /*  "comment-author"*/
  /*  "comment-rating"*/
  /*  "comment-text";*/
}

.comment {
  /*grid-area: comment;*/
  display: grid;
  grid-template-areas:
    "comment-author comment-rating"
    "comment-text comment-text";
}
