<div class="white-background">
  <div class="page-container">
    <div class="page">
      <div class="recipe-overview">
        <div class="recipe-name">
          <h2> {{ recipe.name }} </h2>
        </div>
        <div class="user-interaction-bar">
          <div class="rating">
            {{ recipe.rating }} <i class="pi pi-star-fill"></i>
          </div>
          <div class="favorite">
            <button pButton pRipple type="button" icon="pi pi-heart"
                    style="outline-color: crimson; border-color: crimson; color: white; background: crimson; "
                    [style.color]="isFavorite ? 'crimson' : 'white'"
                    [style.background]="isFavorite ? 'white' : 'crimson'"
                    (click)="toggleFavorite()"
                    class="p-button-rounded p-button-help p-button-outlined"></button>
          </div>
        </div>
        <div class="cooking-details">
          <div class="total-time">
            15 min <i class="pi pi-clock"></i>
          </div>
          <div class="difficulty">
            4 <i class="pi pi-bolt"></i>
          </div>
        </div>
      </div>
      <div class="image">
        <img src="{{ recipe.image }}" alt="recipe" style="width: 500px; border-radius: 16px">
      </div>
      <div class="ingredients">
        <h2 class="ingredients-title">Zutaten</h2>
        <p-table [value]="combinedIngredients" styleClass="p-datatable-striped">
          <ng-template pTemplate="header">
            <tr>
              <th class="right-align">Quantity</th>
              <th>Name</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ingredient>
            <tr>
              <td class="right-align">{{ ingredient.quantityWithMeasure }}</td>
              <td>{{ ingredient.name }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="preparation">
        <h2 class="preparation-title">Zubereitung</h2>
        <p>{{ recipe.preparation }}</p>
      </div>
      <div class="feedback-section">
        <h2 class="feedback-title">Kommentare</h2>
        <div class="feedback-form">
          <textarea [(ngModel)]="newComment.text" pInputTextarea placeholder="Schreibe einen Kommentar"></textarea>
          <button (click)="submitComment()" pButton pRipple type="button" label="Kommentar absenden" class="p-button-rounded"></button>
        </div>
        <div class="comments">
          <div *ngFor="let comment of commentz" class="comment">
            <div class="comment-author">Author: {{ comment.username }}</div>
            <div class="comment-text">Comment: {{ comment.text }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Rezept ID: {{ recipeId }}</p>
</div>
