/*Provisorisch*/
.white-background {
  background-color: white;
  min-height: 875px;
  padding-top: 50px;
}

.page {
  display: grid;
  row-gap: 30px;
  column-gap: 100px;
  grid-template-areas:
    "recipe-overview recipe-overview"
    "image-container image-container"
    "ingredients preparation"
    "feedback-section feedback-section"
}

h2 {
  color: var(--text);
  font-size: 32px;
}

.user-interaction-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}

.image-container {
  grid-area: image-container;
  display: flex;
  justify-content: center;
}

.recipe-name {
  display: flex;
  justify-content: center;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  border-bottom: 2px solid #DDB892;
  display: grid;
  padding: 10px 0;
  grid-template-columns: 2fr 8fr 1fr;
  grid-template-areas:
    "quantity title";
  row-gap: 8px;
}

.item:last-child {
  border-bottom: none;
}

.item-quantity {
  grid-area: quantity;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.item-title {
  grid-area: title;
  font-weight: bold;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.feedback-section {
  grid-area: feedback-section;
}

.recipe-overview {
  grid-area: recipe-overview;
  color: var(--text);

}

.ingredients {
  grid-area: ingredients ;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
  color: var(--text)
}

.ingredients-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.ingredients-list li input {
  margin-right: 10px;
  transform: scale(2.0); /* Ändert die Größe der Checkbox */
  accent-color: var(--accent);
}


.preparation {
  grid-area: preparation;
}

.feedback-form {
  grid-area: feedback-form;
  display: grid;
  grid-template-areas:
    "comment"
    /*"rating"*/
    "submit";
}

.feedback-form button {
  width: 200px;
  margin: 10px auto;
}

.comment-author {
  grid-area: comment-author;
  font-weight: bold;
}

.comment-rating {
  grid-area: comment-rating;
  display: flex;
  align-items: center;
}

.comment-text {
  grid-area: comment-text;
  display: flex;
  align-items: center;
}

.comments {
  grid-area: comments;
  display: grid;
  row-gap: 10px;
  /*grid-template-areas:*/
  /*  "comment-author"*/
  /*  "comment-rating"*/
  /*  "comment-text";*/
}

.comment {
  /*grid-area: comment;*/
  display: grid;
  grid-template-areas:
    "comment-author comment-rating"
    "comment-text comment-text";
}

.right-align {
  text-align: right;
}

.submit-btn {
  background-color: var(--primary);
  border: none;
  padding: 10px 30px;
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
}

.preparation-text {
  line-height: 1.6; /* Setzt den Zeilenabstand auf 1.6 */
  text-align: justify; /* Justiert den Text */
  padding: 10px; /* Fügt Abstand zum Textblock hinzu */
  border: 1px solid #ccc; /* Fügt eine leichte Umrandung hinzu */
  border-radius: 5px; /* Rundet die Ecken des Textblocks ab */
  color: var(--text);
}
