<div class="page-content">
  <div class="page-container">
    <div class="leaderboard">
      <h2>Leaderboard</h2>
      <ul class="leaderboard-list">
        @for (user of users; track user.id) {
          <li class="leaderboard-item">
            <span class="position">{{$index+1}}</span>
            <span class="name">{{ user.username }}</span>
            @if ($index == 0){
              <span class="trophy-icon">🥇</span>
            } @else if ($index == 1){
              <span class="trophy-icon">🥈</span>
            }@else if ($index == 2){
              <span class="trophy-icon">🥉</span>
            }
            <span class="level">{{ user.level }}</span>
          </li>
        } @empty {
          <li class="leaderboard-item">
            <span class="position"></span>
            <span class="name">keine Benutzer gefunden</span>
            <span class="trophy-icon"></span>
            <span class="level"></span>
          </li>
        }
      </ul>
    </div>

  </div>
</div>
