<div class="page-content">
  <div class="page-container">
    <div class="leaderboard">
      <h2>Leaderboard</h2>
      <ul class="leaderboard-list">
        <li class="leaderboard-item">
          <span class="position">1</span>
          <span class="name">Daniel</span>
          <span class="trophy-icon">🥇</span>
          <span class="score">12323</span>
        </li>

        <li class="leaderboard-item">
          <span class="position">2</span>
          <span class="name">Reinhard Mullag</span>
          <span class="trophy-icon">🥈</span>
          <span class="score">8123</span>
        </li>
        <li class="leaderboard-item">
          <span class="position">3</span>
          <span class="name">Reinhard Mullag</span>
          <span class="trophy-icon">🥉</span>
          <span class="score">4123</span>
        </li>
        <li class="leaderboard-item">
          <span class="position">4</span>
          <span class="name">Reinhard Mullag</span>
          <span class="trophy-icon"></span>
          <span class="score">423</span>
        </li>
        <li class="leaderboard-item">
          <span class="position">5</span>
          <span class="name">Reinhard Mullag</span>
          <span class="trophy-icon"></span>
          <span class="score">223</span>
        </li>
        <li class="leaderboard-item">
          <span class="position">6</span>
          <span class="name">Reinhard Mullag</span>
          <span class="trophy-icon"></span>
          <span class="score">23</span>
        </li>
        <li class="leaderboard-item">
          <span class="position">7</span>
          <span class="name">Reinhard Mullag</span>
          <span class="trophy-icon"></span>
          <span class="score">3</span>
        </li>
        <li class="leaderboard-item">
          <span class="position">8</span>
          <span class="name">Reinhard Mullagaksdioaksiodaois jdioaj dioasjiodjaisodjioajaiosjiaosjdioasjdiojasiodjaiosj diojasijd ioasjdioas</span>
          <span class="trophy-icon"></span>
          <span class="score">2</span>
        </li>
        <li class="leaderboard-item">
          <span class="position">9</span>
          <span class="name">Reinhard Mullag</span>
          <span class="trophy-icon"></span>
          <span class="score">1</span>
        </li>
        <li class="leaderboard-item">
          <span class="position">10</span>
          <span class="name">Reinhard Mullag</span>
          <span class="trophy-icon"></span>
          <span class="score">0</span>
        </li>

      </ul>
    </div>

  </div>
</div>
