<div class="page-content">
  <section class="page-container">
    <div class="container">
      @for (recipe of recipes; track recipe){
        <div style="position: relative;">
          <a [routerLink]="['/rezept-details', recipe.id]" class="card-link">
            <p-card header="{{recipe.name}}" subheader="{{recipe.preparation}}" [style]="{ width: '300px' }">
              <ng-template pTemplate="header">
                <div>
                  <img class="card-image" alt="Card" src="{{recipe.image}}">
                </div>
              </ng-template>
              <p>
                @if (recipe.showAuthor){
                  {{recipe.author}}
                }
              </p>
              <p>
                <i class="pi pi-star-fill"></i> {{recipe.rating}}
              </p>
            </p-card>
          </a>
          <button pButton type="button" (click)="setFav(recipe)" icon="{{title?.includes('favorites') ? 'pi pi-heart-fill' : 'pi pi-heart'}}" class="fav-btn p-button-rounded p-button-danger p-button-secondary {{title?.includes('favorites') ? '' : 'p-button-outlined white-background'}}"></button>
        </div>
      }
    </div>
  </section>
</div>
