.container{
  display: flex;
  column-gap: 3rem;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.fav-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.card-link{
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.card-image{
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.white-background{
  background: white;
}
