<nav class="navbar navbar-dark">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/startseite" routerLinkActive="active">
          <img src="assets/Logo.png" style="width: 85px" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/startseite" routerLinkActive="active">Startseite</a>
      </li>
      <li class="nav-item">
        <a routerLink="/meine-rezepte" routerLinkActive="active">Meine Rezepte</a>
      </li>
      <li class="nav-item">
        <a routerLink="/meine-favoriten" routerLinkActive="active">Meine Favoriten</a>
      </li>
      <li class="nav-item">
        <a routerLink="/rezept-erstellen" routerLinkActive="active">Rezept erstellen</a>
      </li>
      <li class="nav-item">
        <a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>
      </li>
    </ul>
    <ul class="navbar-nav right">
      <li class="nav-item">
        <a routerLink="/profil" routerLinkActive="active">Mein Profil</a>
      </li>
      <li class="nav-item">
        <a routerLink="/abmelden" routerLinkActive="active">Abmelden</a>
      </li>
    </ul>
  </div>
</nav>



<div class="gradient"></div>
