.light-blue{
  background-color: #4E64A6;
  height: 150px;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.search-text{
  width: 600px;
  border-radius: 20px;
}


